#searchingFor{
  float:right;

  border: 1px solid #ccc;
  border-radius:4px;
  padding:4px;
  margin-right:10px;
  top:30px;
  width: 400px;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
#searchParamsLabel{
  display:inline-block;
  margin:0px auto;
  max-width:100%;
  vertical-align:middle;
}
#searchParams{
  /*vertical-align:middle;
  border: 1px solid #ccc;
  border-radius:4px;*/

  width:auto;
  height:40px;
}
#header{
  margin-top:10px !important;
}
.param{
  float:left;
  font-size:15px;
  color:white;
  background-color:#ccc;
  margin:2px;
  padding:4px;
  border-radius:4px;
}
.ui-slider{
  margin:10px;
}
