/*------------------------------
Layout Colors
----------------------------- */
body {
  background-color: #FFFFFF;
  padding-bottom: 30px;
}

.tab-content {
  background-color: #f5f5f5;
}


/* -----------------------------
Better looking tabs
----------------------------- */

.main-tabs {
  margin: 0px;
}

.main-tabs > a {
  border-radius: 0px ! important;
  color: #0097a7 ! important;
}
/* #607D8B */
.main-tabs:not(.active) > a:hover {
  background-color: #FFFFFF ! important;
  color: #CFD8DC ! important;
  border-right: 1px solid rgba(255, 255, 255, 1) ! important;
  border-left: 1px solid rgba(255, 255, 255, 1) ! important;
  border-top: 1px solid rgba(255, 255, 255, 1) ! important;
}

.main-tabs:not(.active):hover {
  border-top: 5px solid #CFD8DC;
  margin-top: -5px;
}

.main-tabs.active{
  border-top: 5px solid #0097a7;
  margin-top: -5px;
}

.tab-container {
  /*border: 1px solid #e7e7e7;*/
  width: 100%;
}

/* ----------------------------
Layout CSS
---------------------------- */
.panel-heading_ {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*.panel-tabs {
}*/

.tabbed-content {
    padding: 30px;
    border-top: 0px ! important;
    border-radius: 0px ! important;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
#profTitle{
  margin-bottom: 0px;
  left: 20px;
}
#headerProfPic{
  width:60px;
  height:60px;
  margin-right:10px;
}
.panel-default > .panel-heading {
  background-color: white;
}
.panel-body {
  background-color: white;
}
.well{
  color: black;
}
.listingTitle{
  font-weight: bold;
}
#secondColListing{
  margin-top: 63px;
}
.petProfLg1{
  height: 150px;
  width: 150px;
  position: absolute;
}
.petProfSm1{
  height: 60px;
  width: 60px;
}
#editPetButton{
  position: relative;
  top: 160px;
  left: 30px;
}
#editProfButton{
  margin-bottom: 10px;
}
#addListingButton{
  position: absolute;
  right: 0px;
}
#editListingButton{
  position: relative;
  top: 160px;
  left: 20px;
}

#petExpandTitle{
  text-decoration: none;
}

#alExpandTitle{
  text-decoration: none;
}

/* ---------------------
Stars
--------------------- */

.glyphicon-star {
  margin: 0px;
  color: #00BCD4;
}

.glyphicon-star-empty {
  margin: 0px;
  color: #727272;
}

#dialog {
  font-family: Lato;
}
#collapse-init{
  position: relative;
}
